@use "./pages/page";

*{
    margin: 0;
    padding: 0;
}

.rotating-stars{
    position: absolute;
    width: 350%;
    opacity: 0.5;
    animation-name: rotation;
}

@keyframes rotation {
    0%{transform: rotateZ(0);}
    100%{transform: rotateZ(360deg);}
}