@use "../abstract/vars" as *;

.page-menu{
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 80%;
    margin: 3em auto;
    padding: 2em 0 3em 0;
    border-radius: 1em;
    .menu-title{
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .menu-buttons{
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1em auto;
        padding:1em 0;
        width: 50%;
    }

    .content-input,
    .title-input,
    .end-date-input{
        background-color: $CBackgroundColor;
        border-radius: 0.5em;
        margin: 1em auto;
        color: white;
        font-family: 'Lobster', cursive;
        width: 75%;
        padding:0.5em;
    }
    .content-input{
        height: 5em;
    }
}

.button{
    margin: 0.75em auto;
    width: 80%;
    height: 2.5em;
    font-family: 'Lobster', cursive;
    color: white;
    background-color: $CBackgroundColor;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover{
    background-color: $CForegroundColor;
}

body, html{
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
    position: relative;
    font-family: 'Lobster', cursive;
}


.canvas-background {
    position: absolute;
    top: 0;
    z-index: -10;
}

.container {
    transition: 0.15s opacity;
    display: flex;
    color: white;
    width: 100%;
    height: 30em;
    margin: 5em auto;
    position: relative;
    overflow-x: hidden;
}

.container-background {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 100%;
    opacity: 0.5;
}
